::selection {
  background-color: gray;
}

.auth-form-container {
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-form   {
  width: max-content;
  height: max-content;
  background-image: linear-gradient(to bottom, #424242, #212121);
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 0.5rem;
  padding: 30px;
}

.auth-form-title {
  color: wheat;
  margin: 1rem 0;
  font-size: 2rem;
}

.auth-input {
  margin: 0.5rem 0;
  padding: 1rem 0.5rem;
  width: 20rem;
  background-color: inherit;
  color: wheat;
  border: none;
  outline: none;
  border-bottom: 1px solid wheat;
  transition: all 400ms;
}

.auth-input:hover {
  background-color: #424242;
  border: none;
  border-radius: 0.5rem;
}

.auth-btn {
  height: 3rem;
  width: 20rem;
  margin-top: 3rem;
  background-color: wheat;
  border-radius: 0.5rem;
  border: none;
  font-size: 1.2rem;
  transition: all 400ms;
  box-shadow: 0 0 10px antiquewhite, 0 0 10px antiquewhite;
}

.auth-btn:hover {
  background-color: antiquewhite;
  box-shadow: none;
}
