.modal-body {
  max-height: 70vh;
  overflow: auto;
}

/* From uiverse.io by @alexruix */
.group-name-input {
  line-height: 28px;
  border: 2px solid transparent;
  border-bottom-color: #777;
  padding: 0.2rem 0;
  margin-bottom: 10px;
  outline: none;
  background-color: transparent;
  color: black;
  transition: 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.group-name-input:focus,
.group-name-input:hover {
  outline: none;
  padding: 0.2rem 1rem;
  border-radius: 1rem;
  border-color: #7a9cc6;
}

.group-name-input::placeholder {
  color: green;
}

.group-name-input:focus::placeholder {
  opacity: 0;
  transition: opacity 0.3s;
}
