.premium-box {
  margin: 5px 5px;
  display: flex;
}
/*below is for premium button*/
.premium-btn {
  width: 140px;
  height: 40px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(
    to right,
    #77530a,
    #ffd277,
    #77530a,
    #77530a,
    #ffd277,
    #77530a
  );
  background-size: 250%;
  background-position: left;
  color: #ffd277;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: 1s;
  overflow: hidden;
}

.premium-btn::before {
  position: absolute;
  content: "PREMIUM";
  color: #ffd277;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 97%;
  height: 90%;
  border-radius: 8px;
  transition-duration: 1s;
  background-color: rgba(0, 0, 0, 0.842);
  background-size: 200%;
}

.premium-btn:hover {
  background-position: right;
  transition-duration: 1s;
}

.premium-btn:hover::before {
  background-position: right;
  transition-duration: 1s;
}

.premium-btn:active {
  transform: scale(0.95);
}

/*premium features button*/

.premium-feature-btn {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid white;
  border-radius: 30px;
  padding: 8px 15px;
  font-size: 12px;
  font-weight: bold;
  background: black;
  position: relative;
  transition: all 1s;
  overflow: hidden;
  margin: 0 10px;
}

.premium-feature-btn:hover {
  color: #ffd277;
  border-color: #ffd277;
}

/* drop down for date picker */

.date-form {
  left: 0;
  background-color: transparent;
  width: 100%;
  z-index: 1;
}

.date-input {
  margin: 0 5px;
}
/* CSS */
.button-81 {
  background-color: #fff;
  border: 0 solid #e2e8f0;
  border-radius: 1.5rem;
  box-sizing: border-box;
  color: #0d172a;
  cursor: pointer;
  display: inline-block;
  font-family: "Basier circle", -apple-system, system-ui, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1;
  padding: 0.5rem 1.6rem;
  text-align: center;
  text-decoration: none #0d172a solid;
  text-decoration-thickness: auto;
  transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-81:hover {
  background-color: #1e293b;
  color: #fff;
}

/*download button*/
.download-btn {
  display: inline-block;
  position: relative;
  padding: 10px 25px;
  background-color: black;
  color: white;
  font-family: sans-serif;
  text-decoration: none;
  font-size: 0.9em;
  text-align: center;
  text-indent: 15px;
  border: none;
  border: 2px solid white;
  line-height: 1.4;
  border-radius: 30px;
  margin: 0 10px;
}

.download-btn:hover {
  color: #ffd277;
  border-color: #ffd277;
}

.download-btn:before,
.download-btn:after {
  content: " ";
  display: block;
  position: absolute;
  left: 15px;
  top: 52%;
}

.download-btn:before {
  width: 10px;
  height: 2px;
  border-style: solid;
  border-width: 0 2px 2px;
}

.download-btn:after {
  width: 0;
  height: 0;
  margin-left: 3px;
  margin-top: -7px;
  border-style: solid;
  border-width: 4px 4px 0 4px;
  border-color: transparent;
  border-top-color: inherit;
  animation: downloadArrow 1s linear infinite;
  animation-play-state: paused;
}

.download-btn:hover:before {
  border-color: #cdefbd;
}

.download-btn:hover:after {
  border-top-color: #cdefbd;
  animation-play-state: running;
}

@keyframes downloadArrow {
  0% {
    margin-top: -7px;
    opacity: 1;
  }

  0.001% {
    margin-top: -15px;
    opacity: 0.4;
  }

  50% {
    opacity: 1;
  }

  100% {
    margin-top: 0;
    opacity: 0.4;
  }
}

.pro-btn {
  padding: 0.9em 1.8em;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 4px;
  color: transparent;
  /* border: 3px solid transparent;
    border-radius: 30px; */
  border: none;
  font-size: 14px;
  position: relative;
  font-family: inherit;
  background: transparent;
}

.pro-btn::before {
  content: "Subsribed";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #363636;
  color: #ff0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}

.pro-btn:hover::before {
  left: 100%;
  transform: scale(0) rotateY(360deg);
  opacity: 0;
}

.pro-btn::after {
  content: "Pro User";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #363636;
  color: #ff0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  transform: scale(0) rotateY(0deg);
  opacity: 0;
}

.pro-btn:hover::after {
  left: 0;
  transform: scale(1) rotateY(360deg);
  opacity: 1;
}
